@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;500;600&display=swap');
body{
    font-family: 'Jost', sans-serif;
}
.container{
    @apply max-w-[75rem] mx-auto w-full px-3
}
.active::before{
    transform: scaleX(1) !important;
}
.div{
    outline: 1px solid red;
}
.bg{
    background-image: url(https://e-commerce-udemy.netlify.app/img/single-campaign.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}